package {{.PackageName}}

import (
	"context"


	"github.com/hashicorp/terraform-plugin-framework/resource"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema"
	"github.com/hashicorp/terraform-plugin-framework/types"
)

// {{.StructName}} implements the {{.ResourceName}} resource
type {{.StructName}} struct {
	client *apiClient
}

// {{.ResourceName}}Model represents the resource data model
type {{.ResourceName}}Model struct {
{{- range .Schema.Attributes}}
	{{pascalCase .Name}} {{.Type}} `tfsdk:"{{.Name}}"`
{{- end}}
}

// New{{.StructName}} creates a new {{.ResourceName}} resource
func New{{.StructName}}() resource.Resource {
	return &{{.StructName}}{}
}

// Metadata returns the resource type name
func (r *{{.StructName}}) Metadata(_ context.Context, req resource.MetadataRequest, resp *resource.MetadataResponse) {
	resp.TypeName = "{{.TypeName}}"
}

// Configure configures the resource with the provider client
func (r *{{.StructName}}) Configure(_ context.Context, req resource.ConfigureRequest, resp *resource.ConfigureResponse) {
	if req.ProviderData == nil {
		return
	}

	client, ok := req.ProviderData.(*apiClient)
	if !ok {
		resp.Diagnostics.AddError("Unexpected Resource Configure Type", "Expected *apiClient")
		return
	}

	r.client = client
}

// Schema defines the resource schema
func (r *{{.StructName}}) Schema(_ context.Context, _ resource.SchemaRequest, resp *resource.SchemaResponse) {
	resp.Schema = schema.Schema{
		Description: "{{.ResourceName}} resource",
		Attributes: map[string]schema.Attribute{
{{- range .Schema.Attributes}}
			"{{.Name}}": schema.{{if eq .Type "types.String"}}String{{else if eq .Type "types.Int64"}}Int64{{else if eq .Type "types.Bool"}}Bool{{else if eq .Type "types.Set"}}Set{{else}}String{{end}}Attribute{
				{{- if .Required}}Required: true,{{end}}
				{{- if .Optional}}Optional: true,{{end}}
				{{- if .Computed}}Computed: true,{{end}}
				{{- if .Description}}Description: "{{.Description}}",{{end}}
				{{- if eq .Type "types.Set"}}ElementType: types.StringType,{{end}}
			},
{{- end}}
		},
	}
}

{{- if .CreateEndpoint}}
// Create creates a new {{.ResourceName}}
func (r *{{.StructName}}) Create(ctx context.Context, req resource.CreateRequest, resp *resource.CreateResponse) {
	var plan {{.ResourceName}}Model
	resp.Diagnostics.Append(req.Plan.Get(ctx, &plan)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// Create the resource using the API
	createReq := map[string]interface{}{}
	{{- range .Schema.Attributes}}
	{{- if not .Computed}}
	if !plan.{{pascalCase .Name}}.IsNull() {
		createReq["{{.Name}}"] = plan.{{pascalCase .Name}}.ValueString()
	}
	{{- end}}
	{{- end}}

	url := r.client.baseURL + "{{.CreateEndpoint.Path}}"
	resp, err := r.client.makeRequest(ctx, "{{.CreateEndpoint.Method}}", url, createReq)
	if err != nil {
		resp.Diagnostics.AddError("Create Error", fmt.Sprintf("Unable to create {{.ResourceName}}: %s", err))
		return
	}

	// Extract the created resource data
	if respData, ok := resp["data"].(map[string]interface{}); ok {
		{{- range .Schema.Attributes}}
		if val, exists := respData["{{.Name}}"]; exists && val != nil {
			plan.{{pascalCase .Name}} = types.StringValue(fmt.Sprintf("%v", val))
		}
		{{- end}}
	}

	resp.Diagnostics.Append(resp.State.Set(ctx, plan)...)
}
{{- end}}

{{- if .ReadEndpoint}}
// Read reads the {{.ResourceName}}
func (r *{{.StructName}}) Read(ctx context.Context, req resource.ReadRequest, resp *resource.ReadResponse) {
	var state {{.ResourceName}}Model
	resp.Diagnostics.Append(req.State.Get(ctx, &state)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// Read the resource from the API
	{{- if .ReadEndpoint.PathParams}}
	url := r.client.baseURL + "{{.ReadEndpoint.Path}}"
	{{- range .ReadEndpoint.PathParams}}
	url = strings.ReplaceAll(url, "{{ printf "{%s}" .Name }}", state.{{pascalCase .Name}}.ValueString())
	{{- end}}
	{{- else}}
	url := r.client.baseURL + "{{.ReadEndpoint.Path}}"
	{{- end}}

	resp, err := r.client.makeRequest(ctx, "{{.ReadEndpoint.Method}}", url, nil)
	if err != nil {
		resp.Diagnostics.AddError("Read Error", fmt.Sprintf("Unable to read {{.ResourceName}}: %s", err))
		return
	}

	// Update state with the retrieved data
	if respData, ok := resp["data"].(map[string]interface{}); ok {
		{{- range .Schema.Attributes}}
		if val, exists := respData["{{.Name}}"]; exists && val != nil {
			state.{{pascalCase .Name}} = types.StringValue(fmt.Sprintf("%v", val))
		}
		{{- end}}
	}

	resp.Diagnostics.Append(resp.State.Set(ctx, &state)...)
}
{{- end}}

{{- if .UpdateEndpoint}}
// Update updates the {{.ResourceName}}
func (r *{{.StructName}}) Update(ctx context.Context, req resource.UpdateRequest, resp *resource.UpdateResponse) {
	var plan {{.ResourceName}}Model
	resp.Diagnostics.Append(req.Plan.Get(ctx, &plan)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// Update the resource using the API
	updateReq := map[string]interface{}{}
	{{- range .Schema.Attributes}}
	{{- if not .Computed}}
	if !plan.{{pascalCase .Name}}.IsNull() {
		updateReq["{{.Name}}"] = plan.{{pascalCase .Name}}.ValueString()
	}
	{{- end}}
	{{- end}}

	{{- if .UpdateEndpoint.PathParams}}
	url := r.client.baseURL + "{{.UpdateEndpoint.Path}}"
	{{- range .UpdateEndpoint.PathParams}}
	url = strings.ReplaceAll(url, "{{{.Name}}}", plan.{{pascalCase .Name}}.ValueString())
	{{- end}}
	{{- else}}
	url := r.client.baseURL + "{{.UpdateEndpoint.Path}}"
	{{- end}}

	resp, err := r.client.makeRequest(ctx, "{{.UpdateEndpoint.Method}}", url, updateReq)
	if err != nil {
		resp.Diagnostics.AddError("Update Error", fmt.Sprintf("Unable to update {{.ResourceName}}: %s", err))
		return
	}

	// Update state with the response data
	if respData, ok := resp["data"].(map[string]interface{}); ok {
		{{- range .Schema.Attributes}}
		if val, exists := respData["{{.Name}}"]; exists && val != nil {
			plan.{{pascalCase .Name}} = types.StringValue(fmt.Sprintf("%v", val))
		}
		{{- end}}
	}

	resp.Diagnostics.Append(resp.State.Set(ctx, plan)...)
}
{{- end}}

{{- if .DeleteEndpoint}}
// Delete deletes the {{.ResourceName}}
func (r *{{.StructName}}) Delete(ctx context.Context, req resource.DeleteRequest, resp *resource.DeleteResponse) {
	var state {{.ResourceName}}Model
	resp.Diagnostics.Append(req.State.Get(ctx, &state)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// Delete the resource using the API
	{{- if .DeleteEndpoint.PathParams}}
	url := r.client.baseURL + "{{.DeleteEndpoint.Path}}"
	{{- range .DeleteEndpoint.PathParams}}
	url = strings.ReplaceAll(url, "{{{.Name}}}", state.{{pascalCase .Name}}.ValueString())
	{{- end}}
	{{- else}}
	url := r.client.baseURL + "{{.DeleteEndpoint.Path}}"
	{{- end}}

	_, err := r.client.makeRequest(ctx, "{{.DeleteEndpoint.Method}}", url, nil)
	if err != nil {
		resp.Diagnostics.AddError("Delete Error", fmt.Sprintf("Unable to delete {{.ResourceName}}: %s", err))
		return
	}
}
{{- end}}
